.main_container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.desc_wrapper {
    display: flex;
    gap: 20px;
}

.mini_desc_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_wrapper_desc {
    margin: 0;
    text-align: center;
}

.secondary_container {
    width: 100%;
    background-color: #F4F4F4;
}

.content_container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.section_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    margin-top: 40px;
}

.text_section_wrapper {
    display: flex;
    width: 520px;
    height: 104px;
    gap: 20px;
}

.icon {
    width: 30px; 
    height: 30px;
}

.mini_text_section_wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.subtitle {
    margin: 0;
}

.description {
    margin: 0;
}