.container {
  padding-left: 130px;
  padding-right: 130px;
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn {
  background-color: inherit;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  border: 1px solid #111111;
  border-radius: 12px;
  color: #fff;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
