.item {
  list-style: none;
}

.container {
  width: 274px;
  min-height: 426px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 22px;
}

.img_wrapper {
  width: 100%;
  height: 268px;
  display: flex;
  margin-bottom: 14px;
}

.img {
  width: 100%;
  height: 268px;
  border-radius: 14px;
}

.favorite_btn {
  position: relative;
  right: 40px;
  bottom: 100px;
}

.favorite_icon {
  fill: rgba(52, 112, 255, 1);
}

.favorite_non_icon {
  fill: rgba(255, 255, 255, 0.8);
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.price_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0;
}

.car_desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(18, 20, 23, 0.5);
  margin: 0;
}

.desc_wrapper {
  margin-bottom: 28px;
  gap: 8px;
}

.learn_btn {
  width: 100%;
  height: 44px;
  background-color: rgba(52, 112, 255, 1);
  padding: 12px, 99px, 12px, 99px;
  border: none;
  border-radius: 12px;
  color: #fff;
  z-index: 1;
}

.learn_btn:hover,
.learn_btn:focus {
  color: black;
  background-color: #cbd4e2;
}
